@model IEnumerable<Printajmo.Models.tiskarne>

@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.a4cb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.a4barvno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.a4cboboje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.a4barvnooboje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ulica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postnast)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefonska)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dodatno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.latitude)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.a4cb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.a4barvno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.a4cboboje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.a4barvnooboje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ulica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postnast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefonska)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dodatno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.latitude)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idtiskarne }) |
            @Html.ActionLink("Details", "Details", new { id=item.idtiskarne }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idtiskarne })
        </td>
    </tr>
}

</table>
