@model Printajmo.Models.ForgotPasswordViewModel



<div class="tab-pane fade" id="pozabljeno">
    
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        
        <fieldset>
            <h4>Vnesite email</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="control-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="control-group">
                <div class="control-group">
                    <br />
                    <a href="#signin" data-toggle="tab">Nazaj</a>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="pozabljeno"></label>
                <div class="control-group">  
                    <input type="submit" class="btn btn-xl button-login" value="Poslji email" />
                </div>
            </div>
        </fieldset>

    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
