@model Printajmo.Models.LoginViewModel
@using System;
@using System.Globalization;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using System.Web;
@using System.Web.Mvc;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.Owin.Security;
@using Printajmo.Models;
@using System.Diagnostics;

<!--PRIJAVA -->
 @using (Ajax.BeginForm("Login", "Account",
                                 new AjaxOptions
                                 {
                                     OnComplete = "complete"
                                 }))
 {

   

    @Html.AntiForgeryToken()
        <fieldset>
            <!-- Sign In Form -->
            <!-- Text input-->
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="control-group">
                @*<label class="control-label" for="userid">Email:</label>*@
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                <div class="controls">
                    @*<input required = "" id="userid" name="userid" type="text" class="form-control" class="input-medium" required="">*@
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <!-- Password input-->
            <div class="control-group">
                @*<label class="control-label" for="passwordinput">Geslo:</label>*@
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                <div class="controls">
                    @*<input required = "" id="passwordinput" name="passwordinput" class="form-control" type="password" class="input-medium">*@
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
           

            <!-- Button -->
            <div class="control-group">
                <div class="controls">
                    <br />
                    <a href="#pozabljeno" data-toggle="tab">Pozabljeno geslo?</a>
                </div>
            </div>


            <!-- Button -->
            <div class="control-group">
                <label class="control-label" for="signin"></label>
                <div class="controls">
                    @*<button type="submit" id="signin" name="signin" class="btn btn-xl button-login">Prijavi</button>*@
                    <input type="submit" value="Prijavi" class="btn btn-xl button-login" />
                </div>
            </div>
           
        </fieldset>
        @*<section id="#pozabljeno">
            @Html.Partial("_ForgotPassword", new Printajmo.Models.ForgotPasswordViewModel())
        </section>*@
   }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function complete(result) {
        var isError = @Html.Raw(Json.Encode(ViewData.ModelState.IsValid));
        if (isError) {
            
            $('#signin').html(result.responseText);
            //$('#myModal').modal('hide');
        } else {

            $('#myModal').modal('hide');
            location.reload();
        }
    }
</script>